.stories {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  @media (max-width: 672px) {
    padding: 1rem;
  }
  .stories1 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .you {
      @media (max-width: 672px) {
        font-size: 1rem;
      }
    }
    .tick {
      width: 40px;
      object-fit: contain;
    }
  }
  .storiesa {
    background-color: white;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    @media (max-width: 554px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
    .foodhub {
      // background-color: yellow;
      display: flex;
      flex-direction: column;
      .foodhuba {
        // background-color: green;
        // width: 100%;
        border-radius: 1rem;
        .hub {
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
      .thumb {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        .thumba {
          width: 40px;
          background-color: #ffc244;
          border-radius: 0.5rem;
          padding: 0.1rem 0.3rem;
        }
        .thumbb {
          width: 35px;
        }
      }
    }
  }
}
